.about {
  padding: 0 1em;

  h2 {
    margin-top: 3em;
  }

  p {
    margin-top: 1em;
  }

  &__list {
    max-width: 80%;
    margin: 5% auto;
    list-style-type: disc;
    word-wrap: break-word;

    li:not(:first-child) {
      margin-top: 16px;
    }
  }
}
