.marked-reading {
  box-sizing: border-box;
  padding: 1em;
  line-height: 20px;
  color: #ffffff;
  p {
    margin-bottom: 1em;
  }

  ul {
    box-sizing: border-box;
    padding-left: 1.5em;
  }

  ol {
    box-sizing: border-box;
    padding-left: 1.5em;
    list-style: circle;
  }

  li {
    margin-bottom: 8px;
  }

  strong {
    margin-bottom: 10px;
  }
}
