.mainSection {
  box-sizing: border-box;
  padding: 1em 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sreadsList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
