.main-section {
  box-sizing: border-box;
  padding: 1em 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}
