.card {
  box-sizing: border-box;
  margin: 5% auto;
  width: 140px;
  height: 240px;
  padding: 1em;
  border: 1px solid white;
  border-radius: 16px;
  background-color: #123682;

  word-wrap: break-word;
}
