.payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__balance {
    box-sizing: border-box;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  &__heading {
    padding: 0 1em;
    color: #fff;
  }

  &__buttons-list {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__buttons-inline-list {
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
  }

  &__vertical-buy-button {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 30%;
    font-size: 14px;
    gap: 1em;
    padding: 10px 0 0 0;

    div {
      p {
        p {
          font-weight: 700;
          font-size: 2em;
        }
      }
    }
  }

  &__buton-title {
    width: 100svw;
    text-align: start;
  }

  &__home {
    margin-top: auto;
    padding: 1em 1em 2em 1em;
    button {
      color: white;
      font-weight: 500;
      padding: 1em 0;
    }
  }
}
