.faq-link {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background: linear-gradient(#06080d, #06080d) padding-box,
    linear-gradient(rgba(234, 133, 15, 50%), rgba(255, 199, 0, 50%)) border-box;
  border-radius: 8px;
  border: 3px solid transparent;
  font-weight: 200;

  @media screen and (width < 400px) {
    padding: 5px;
    font-size: 14px;
  }
}
