.balance-caption {
  display: flex;
  align-items: center;
  gap: 8px;

  &__currency-name {
    width: min-content;
    font-size: 14px;
    word-wrap: normal;
  }

  &__question-mark {
    cursor: pointer;
  }

  &__modal-text {
    padding: 0.5em;
    text-align: center;
    word-wrap: break-word;
  }
}
