.daily-card {
  &__heading {
    text-align: center;
    padding: 1em;
  }

  &__spread {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &--text {
      padding: 1em;
      line-height: 20px;
    }
  }
}
