.balance {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__value {
    font-size: 46px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.1em;
    span {
      font-size: 21px;
    }
  }

  &__skeleton {
    width: 46px;
    height: 46px;
  }
}
