.question-button {
  animation: wiggle 4s infinite;

  &__modal {
    padding: 1em 1em 2em 1em;

    &--container {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }

    &--heading {
      text-align: center;
    }
  }
}

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.35);
  }
  20% {
    transform: scale(1.35) rotate(-10deg);
  }
  25% {
    transform: scale(1.35) rotate(10deg);
  }
  30% {
    transform: scale(1.35) rotate(-6deg);
  }
  35% {
    transform: scale(1.35) rotate(4deg);
  }
  40% {
    transform: scale(1.35) rotate(0);
  }
}
