.settings {
  box-sizing: border-box;
  padding: 1em;
  height: 100vh;

  &__list {
    list-style: none;
    overflow: hidden;
    &--headline {
      text-align: center;
    }
  }

  &__language-modal {
    box-sizing: border-box;
    height: 100vh;
    padding: 1em;
  }
}
